---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-content">
    <ul id="header_list" class="catalog-list">
    </ul>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script>
  $(function() {
    $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, item, id;
      $el = $(el);
      id = el.id;   
      if (id) {
        item = $('<li></li>');
        var aa = $("<a />").attr("href", "#" + id).html(el.innerText);
        item.html(aa);
        $("#header_list").append(item);
      }
    });
  });
  </script>

</article>

{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    /**
    * https://disqus.com/admin/universalcode/#configuration-variables
    */
    var disqus_config = function () {
      // this.page.url = "{{page.url}}";
      this.page.identifier = "{{page.id}}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://wf225.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
{% endif %}
